:root {
    --section-padding-height: clamp(3.75rem, 8vw, 6.25rem);
    --section-padding-width: 16px;
    --default-font-size: clamp(1rem, 3vw, 1.5rem);
    --container-width: 1600px;
    --container-gap: clamp(3rem, 6vw, 4rem);
}

html {
    font-family: Roboto, sans-serif;
    font-size: var(--default-font-size);
}

main section {
    padding: var(--section-padding-height) var(--section-padding-width);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: bolder;
}

.medium {
    font-size: 1.2rem;
}

.big {
    font-size: 1.6rem;
}

.bigger {
    font-size: 2rem;
}

.biggest {
    font-size: 2.5rem;
}

div.container {
    width: 100%;
    margin: auto;
    max-width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--container-gap);
}

section#header {
    position: relative;
}

section#header::before {
    content: "";
    background: #0a90b1;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    top: 0px;
    left: 0px;
    transform-origin: top left;
    transform: skewY(-22deg);
}

.portrait-container {
    position: relative;
}

.portrait-container h1 {
    color: white;
    text-shadow: 1px 2px 5px black;

    position: absolute;
    bottom: 8px;
    left: 16px;
}

.about-me-container {
    display: flex;
    flex-direction: column;
}

.about-me-container h2 {
    align-self: center;
}

.about-me-container p {
    color: #555555;
}

.about-me-container .icons {
    align-self: center;
}

.icons svg {
    width: clamp(1.2rem, 3vw, 1.5rem);
    margin: 0px 5px;
}

section#projects .grid {
    --grid-max-col-count: 3;
    --grid-min-col-size: 330px;
    --grid-gap: 1rem;

    --grid-col-size-calc: calc((100% - var(--grid-gap) * var(--grid-max-col-count)) / var(--grid-max-col-count));
    --grid-col-min-size-calc: min(100%,
            max(var(--grid-min-col-size), var(--grid-col-size-calc)));

    display: grid;
    gap: var(--grid-gap);

    grid-template-columns: repeat(auto-fit,
            minmax(var(--grid-col-min-size-calc), 1fr));
}

section#projects .project-cards {
    align-self: stretch;
}

section#projects .project-cards article {
    box-shadow: 1px 1px 4px 1px grey;
    height: 31rem;
}

section#projects .project-cards .screenshot {
    height: 55%;
    position: relative;
}

.project-cards .card_1 {
    --placeholder-bg: #7c75c8;
}

.project-cards .card_2 {
    --placeholder-bg: #d78e3b;
}

.project-cards .card_3 {
    --placeholder-bg: #5d8e4e;
}

.project-cards .card_4 {
    --placeholder-bg: #c97598;
}

.project-cards .card_5 {
    --placeholder-bg: #4792d7;
}

.project-cards .card_6 {
    --placeholder-bg: #5d8e4e;
}

.project-cards article .placeholder {
    background-color: var(--placeholder-bg);
}

.screenshot h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.description {
    padding: 1rem 1.2rem 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.description .icons {
    justify-self: end;
    align-self: center;
}

.description p {
    color: #555555;
    grid-column: 1 / span 2;
}

section#contacts {
    background-color: #0a90b1;
    color: white;

    display: flex;
    flex-direction: column;
    padding: 0;
}

section#contacts .container {
    align-items: stretch;
    gap: 20px;
    padding: var(--section-padding-height) var(--section-padding-width);
}

section#contacts .container h2,
section#contacts .icons.bottom {
    align-self: center;
}

section#contacts div.phone,
section#contacts div.email {
    display: flex;
    align-items: center;
}

section#contacts .icons.bottom svg {
    width: 2.2rem;
}

section#contacts img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1280px) {
    section#header::before {
        height: 100%;
    }

    section#header div.container {
        flex-direction: row;
        gap: 0;
    }

    section#header div.about-me-container {
        background-color: white;
        box-shadow: 1px 1px 4px 1px grey;
        padding: 50px 25px;
    }

    .about-me-container h2 {
        align-self: start;
    }

    .about-me-container .icons {
        align-self: end;
    }
}